<div class="card">
  <h2 class="card__heading">Coding Skills</h2>
  <ul class="card__list">
    <li class="card__row">
      <svg class="icon">
        <use xlink:href="images/icons/sprite.svg#html5"></use>
      </svg>
      HTML
    </li>
    <li class="card__row">
      <svg class="icon">
        <use xlink:href="images/icons/sprite.svg#css3"></use>
      </svg>
      CSS
    </li>
    <li class="card__row">
      <svg class="icon">
        <use xlink:href="images/icons/sprite.svg#js"></use>
      </svg>
      JavaScript
    </li>
    <li class="card__row">
      <svg class="icon">
        <use xlink:href="images/icons/sprite.svg#python"></use>
      </svg>
      Python
    </li>
  </ul>
</div>
