<div class="hero grid-1x2">
  <div class="hero__img">
    <img
      sizes="(max-width: 1380px) 100vw, 1380px"
      srcset="
        images/me@360.jpg   360w,
        images/me@721.jpg   721w,
        images/me@955.jpg   955w,
        images/me@1212.jpg 1212w
      "
      src="images/DSC_0468.jpg"
      alt="A picture of me"
    />
  </div>
  <div class="hero__text">
    <h2>
      Hello there! I'm
      <span class="name">Ionut Prodea</span>, a Computer Systems Engineer from
      Bucharest.
    </h2>
  </div>
</div>
